# OCI InLAB - Data & AI Team

## Primeiros passos com Data Flow Studio

Este notebook apresenta os primeiros passos para iniciar a utilização do **_Data Flow Studio_** diretamente do **_OCI Data Science_** e, deste modo, poder construir e executar aplicativos **_Apache Spark_** de forma interativa

O Oracle desenvolveu uma poderosa biblioteca chamada **_ADS SDK_** (Accelerated Data Science). Esta biblioteca, que é pública, nos permite trabalhar diferentes frentes de acesso, visualizalização, higienização e construção de modelos. Além disso, o ADS SDK nos permite interagir com outros serviços presentes na nuvem Oracle e é a biblioteca que vamos utilizar para iniciar a jornada de trabalho com o Data Flow Studio.

Conheça mais sobre o ADS SDK acessando o endereço web: https://docs.oracle.com/en-us/iaas/tools/ads-sdk/latest/index.html

**Para obter sucesso na execução deste laboratório é preciso definir políticas de acesso dentro da OCI disponíveis em** https://docs.oracle.com/en-us/iaas/data-flow/using/dfs_getting_started.htm#policies-data-flow-studio

In [2]:
# importando a biblioteca ADS e realizando a autenticação
import ads

ads.set_auth("resource_principal")

O OCI Data Science Notebook conta com algumas variáveis de ambiente que podem ser acessadas utilizando a biblioteca **_os_**. Além disso, vamos definir um local (bucket) para armazenar os logs gerados pelas sessões do Data Flow Studio

In [ ]:
import os

compartment_id = os.environ.get("NB_SESSION_COMPARTMENT_OCID") #identificando o compartimento da OCI em utilização
logs_bucket_uri = "oci://nome-do-seu-bucket@namespace-da-tenancy" #definindo o bucket para armazenamento de logs

Para a criação da sessão do Data Flow Studio vamos definir uma curta função para manipular os argumentos e parâmetros da sessão

In [3]:
import json


def prepare_command(command: dict) -> str:
    """Converts dictionary command to the string formatted commands."""
    return f"'{json.dumps(command)}'"

Após a execução das etapas acima, carregamos o **_SparkMagic_**. O SparkMagic utiliza o **_Apache Livy_** para execução de sessões interativas de cargas de trabalho Apache Spark.

In [4]:
%load_ext dataflow.magics

Após a carga do SparkMagic podemos executar comandos "mágicos" diretamente das células do notebook. Vamos explorar as opções disponíveis executando **_%help_**. Será exibida uma lista de comandos suportados pelo SparkMagic e exemplos de utilização.

In [5]:
%help

A seguir vamos criar um sessão do Data Flow Studio

In [ ]:
command = prepare_command(
    {
        "compartmentId": compartment_id,
        "displayName": "DataFlow Studio Primeira Sessão",
        "language": "PYTHON",
        "sparkVersion": "3.2.1",
        "numExecutors": 1,
        "driverShape": "VM.Standard.E4.Flex",
        "executorShape": "VM.Standard.E4.Flex",
        "driverShapeConfig": {"ocpus": 1, "memoryInGBs": 16},
        "executorShapeConfig": {"ocpus": 1, "memoryInGBs": 16},
        "logsBucketUri": logs_bucket_uri,
        "type": "SESSION",
        "configuration": {
            "spark.archives": custom_conda_environment_uri,
            "spark.jars.ivy": "/opt/spark/work-dir/conda/.ivy2",
            "spark.jars": "oci://nome-do-seu-bucket@namespace-da-tenancy/seu-jar.jar",
        },
        "privateEndpointId":"privateEndpointId",
        "metastoreId":"metastoreId",
    }
) 
%create_session -l python -c $command

Você pode explorar outros exemplos de criação de sessão e explicação sobre cada parâmetros acesso o site https://docs.oracle.com/en-us/iaas/tools/ads-sdk/latest/user_guide/apachespark/dataflow-spark-magic.html

Neste notebook é utilizada uma sessão já existente

In [6]:
%use_session -s {'sua-sessão-existente-id'}

Using Active Session .. ocid1.dataflowrun.oc1.sa-saopaulo-1.antxeljrtsbrckqausxu55q7cdh4aprkp7pgfzcgaqlbyp7e4kfosbtmsp3q

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Cluster is ready..
Starting Spark application..

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.
SparkContext available as 'sc'.

Após a criação ou ativação de uma sessão já existe, são disponibilizados dois novos _magic commands_. Estes são: **_%%spark_** e também o **_%%sc_**.

In [8]:
%%spark
print(f'A versão do Spark em execução no cluster do Data Flow Studio é: {sc.version}')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

A versão do Spark em execução no cluster do Data Flow Studio é: 3.2.1

A partir daí podemos executar operações spark, sc e sql diretamente no cluster do Data Flow Studio

In [9]:
%%spark
numbers = sc.parallelize([4, 3, 2, 1])
print(f"First element of numbers is {numbers.first()}")
print(f"The RDD, numbers, has the following description\n{numbers.toDebugString()}")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

First element of numbers is 4
The RDD, numbers, has the following description
b'(2) ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274 []'

Podemos criar um dataframe spark e realizar operações sobre ele. Neste exemplo é utilizado o [NYC Taxi and Limousine Commission (TLC) Data](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page).
Trata-se de um dataset de aproximadamente 488Mb com dados do ano de 2022 do mês de janeiro até outubro.

In [11]:
%%spark
df_nyc_tlc = spark.read.parquet("oci://arquivos@id3kyspkytmr/nyc_tlc/", header=False, inferSchema=True)
df_nyc_tlc.show()
df_nyc_tlc.createOrReplaceTempView("nyc_tlc")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-10-01 00:03:41|  2022-10-01 00:18:39|            1.0|          1.7|       1.0|                 N|         249|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|        0.0|
|       2| 2022-10-01 00:14:30|  2022-10-01 00:19:48|            2.0|         0.72|       1.0|                 N|         151|         238|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 2.5|        0.0|
|       2| 2022-10-01 00:27:13|  2022-10-01 00:37:41|            1.0|         1.74|       1.0|                 N|         238|         166|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 0.0|        0.0|
|       1| 2022-10-01 00:32:53|  2022-10-01 00:38:55|            0.0|          1.3|       1.0|                 N|         142|         239|           1|        6.5|  3.0|    0.5|      2.05|         0.0|                  0.3|       12.35|                 2.5|        0.0|
|       1| 2022-10-01 00:44:55|  2022-10-01 00:50:21|            0.0|          1.0|       1.0|                 N|         238|         166|           1|        6.0|  0.5|    0.5|       1.8|         0.0|                  0.3|         9.1|                 0.0|        0.0|
|       1| 2022-10-01 00:22:52|  2022-10-01 00:52:14|            1.0|          6.8|       1.0|                 Y|         186|          41|           2|       25.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        29.3|                 2.5|        0.0|
|       2| 2022-10-01 00:33:19|  2022-10-01 00:44:51|            3.0|         1.88|       1.0|                 N|         162|         145|           2|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|
|       1| 2022-10-01 00:02:42|  2022-10-01 00:50:01|            1.0|         12.2|       1.0|                 N|         100|          22|           1|       41.0|  3.0|    0.5|       3.0|         0.0|                  0.3|        47.8|                 2.5|        0.0|
|       2| 2022-10-01 00:06:35|  2022-10-01 00:24:38|            1.0|         7.79|       1.0|                 N|         138|         112|           1|       23.5|  0.5|    0.5|      4.96|         0.0|                  0.3|       31.01|                 0.0|       1.25|
|       2| 2022-10-01 00:29:25|  2022-10-01 00:43:15|            1.0|         4.72|       1.0|                 N|         145|          75|           1|       14.5|  0.5|    0.5|       1.5|         0.0|                  0.3|        19.8|                 2.5|        0.0|
|       1| 2022-10-01 00:01:55|  2022-10-01 00:20:16|            1.0|          8.8|       1.0|                 N|         138|         236|           1|       26.0| 4.25|    0.5|      5.64|        6.55|                  0.3|       43.24|                 2.5|       1.25|
|       1| 2022-10-01 00:27:48|  2022-10-01 00:59:50|            1.0|          8.6|       1.0|                 N|         140|          36|           1|       29.5|  3.0|    0.5|       6.0|         0.0|                  0.3|        39.3|                 2.5|        0.0|
|       1| 2022-10-01 00:05:27|  2022-10-01 00:35:33|            4.0|         12.0|       1.0|                 N|          70|         230|           2|       36.5|  3.0|    0.5|       0.0|        6.55|                  0.3|       46.85|                 2.5|        0.0|
|       1| 2022-10-01 00:38:53|  2022-10-01 00:48:13|            2.0|          1.4|       1.0|                 N|         230|          68|           1|        8.5|  3.0|    0.5|      3.05|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       2| 2022-10-01 00:24:40|  2022-10-01 00:30:23|            1.0|         0.76|       1.0|                 N|          79|         113|           1|        5.5|  0.5|    0.5|      0.93|         0.0|                  0.3|       10.23|                 2.5|        0.0|
|       2| 2022-10-01 00:32:22|  2022-10-01 00:58:55|            1.0|          7.8|       1.0|                 N|         113|         116|           1|       26.5|  0.5|    0.5|      6.06|         0.0|                  0.3|       36.36|                 2.5|        0.0|
|       2| 2022-10-01 00:17:08|  2022-10-01 00:30:50|            2.0|          2.9|       1.0|                 N|          13|         249|           1|       12.0|  0.5|    0.5|       2.8|         0.0|                  0.3|        18.6|                 2.5|        0.0|
|       2| 2022-10-01 00:32:14|  2022-10-01 00:44:35|            1.0|         1.71|       1.0|                 N|         249|          79|           1|        9.0|  0.5|    0.5|      2.56|         0.0|                  0.3|       15.36|                 2.5|        0.0|
|       2| 2022-10-01 00:09:24|  2022-10-01 00:21:45|            1.0|          2.3|       1.0|                 N|          48|         249|           1|       10.0|  0.5|    0.5|      2.76|         0.0|                  0.3|       16.56|                 2.5|        0.0|
|       2| 2022-10-01 00:22:29|  2022-10-01 00:33:53|            2.0|         1.67|       1.0|                 N|         249|         224|           1|        8.5|  0.5|    0.5|      2.46|         0.0|                  0.3|       14.76|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

Após a criação da tempView podemos rodar consultas baseadas em SQL e armazenar a saída num objeto dataframe usando o parâmetro **_-o_**.

In [13]:
%%spark -c sql -o df_nyc_tlc
SELECT vendorID, passenger_count, trip_distance, payment_type FROM nyc_tlc LIMIT 3;

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   vendorID  passenger_count  trip_distance  payment_type
0         1              1.0           1.70             1
1         2              2.0           0.72             2
2         2              1.0           1.74             1

Além disso, também é possivel executar comandos **_Delta Lake_** para interagir sobre os dados

In [14]:
%%spark
df_nyc_tlc.write.format("delta").save("oci://arquivos@id3kyspkytmr/nyc_tlc/delta")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Por fim, também há suporte ao **_Hive Metastore_**. Na nuvem Oracle a OCI disponibiliza o **_OCI Data Catalog_** e o mesmo conta com um Metastore que pode ser utilizado. Acesse https://docs.oracle.com/en-us/iaas/data-flow/using/hive-metastore.htm para detalhes completos.

In [16]:
%%spark -c sql
CREATE DATABASE studio;

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Empty DataFrame
Columns: []
Index: []

In [17]:
%%spark -c sql
USE studio;

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Empty DataFrame
Columns: []
Index: []

In [19]:
%%spark -c sql
CREATE TABLE nyc_tlc_table AS (SELECT * FROM nyc_tlc);

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Empty DataFrame
Columns: []
Index: []

In [20]:
%%spark -c sql
SHOW TABLES;

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

  namespace      tableName  isTemporary
0    studio  nyc_tlc_table        False
1                  nyc_tlc         True

In [21]:
%%spark -c sql
SELECT COUNT(1) FROM nyc_tlc_table;

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   count(1)
0  33003832